<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>dropdown</title>
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
</head>
<script type="text/javascript" src="dropdownCtrl.js"></script>
<link rel="stylesheet" href="css/index.css">

<body>
  <div ng-app="myApp" ng-controller="dropdownCtrl">
    <div class="dropdown-container" ng-class="{ show: listVisible }">
      <div class="dropdown-display" ng-click="show();" ng-class="{ activated: listVisible }">
        <span>{{selectedDate.name}}
    <i class="fa fa-chevron-up" ng-class="{'fa-chevron-down': !listVisible, 'fa-chevron-up': listVisible}"></i>
    </span>
      </div>
      <div class="dropdown-list">
        <div>
          <div ng-repeat="item in monthShowArray" ng-click="select(item)" ng-class="{ selected: isSelected(item) }">
            <span>{{property !== undefined ? item[property] : item.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
